doctype html
html
  head
    title Umar Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
           div#logo
               img(src="/static/logo.png") 
               | HDA
           li #[a(href="/") Home ]
           li #[a(href="/") Class Info ]
           li #[a(href="/") Contact us ]
           li #[a(href="/contact") About us]

    block content
    section#footer 
         | Copyright © 2021 UmarDanceAcademy.com All right | reserved